*{
  background-color: #3b3b3b;
}
.App {
  margin: 1rem;
  text-align: center;
  
}

input[type="text"] {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 200;
  margin: 0.5rem;
  color: #ccc;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid gold;
}

button {
  width: 10%;
  text-align: center;
  min-width: 100px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 200;
  margin-top: 1rem;
  background-color: gold;
  color: black;
  cursor: pointer;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #3b3b3b;
  color: gold;
  border: 1px solid gold;
}

.desc{
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 1rem;
}

h1 {
  color: gold;
}



.drag-drop-zone {
  height: 70vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 5px dashed black;
}

.drag-drop-zone p {
  color: rgb(159, 159, 159);
  font-size: 1.5rem;
  font-weight: bold;
}

.footer {
  margin-top: 2rem;
  text-align: center;
  color: white;
  font-weight: 200;
}

